.header__lang-link {
  color: white;
  font-family: Inter;
  font-weight: normal;
  font-style: normal;
  line-height: 28px;
  font-size: 24px;
}

.header__lang-link:nth-child(1) {
  text-decoration: none;
  margin-right: 18px;
  border-bottom: 1px solid white;
}

.header__lang-link:nth-child(2) {
  text-decoration: none;
}
