.places__image {
  max-width: 460px;
  max-height: 460px;
  margin-top: 48px;
  object-fit: contain;
  width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  .places__image {
    max-width: 440px;
    max-height: 440px;
  }
}

@media (max-width: 768px) {
  .places__image {
    max-width: 340px;
    max-height: 340px;
  }
}

@media (max-width: 320px) {
  .places__image {
    margin-top: 30px;
    position: relative;
    width: 320px;
  }
}

@media (max-width: 319px) {
  .places__image {
    right: 0;
    margin-top: 32px;
    width: 100%;
  }
}
