.places__link {
  max-width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: none;
  border-bottom: 1px solid white;
  color: #ffffff;
  position: relative;
}

.places__link:hover {
  opacity: 0.8;
  transition: 0.3s;
}

@media (max-width: 320px) {
  .places__link {
    margin: 0;
    margin-top: 12px;
    display: block;
    margin-left: 16px;
  }
}
