.header {
  padding-top: 28px;
  position: relative;
  display: flex;
  height: 52px;
  max-width: 1184px;
  justify-content: space-between;
  align-items: end;
  margin-left: 48px;
  margin-right: 48px;
}
