.lead__title {
  margin: auto;
  text-align: center;
  font-weight: 900;
  font-style: normal;
  line-height: 100px;
  font-size: 96px;
  color: #ffffff;
  margin-top: 56px;
}

@media (max-width: 1024px) {
  .lead__title {
    margin-top: 48px;
  }
}

@media (max-width: 670px) {
  .lead__title {
    line-height: 14vw;
    font-size: 14vw;
  }
}

@media (max-width: 320px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }
}
