.cover__title {
  max-width: 560px;
  max-height: 152px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #ffffff;
  margin: auto;
  padding-top: 256px;
  position: relative;
}

@media (max-width: 1024px) {
  .cover__title {
    padding-top: 205px;
  }
}

@media (max-width: 505px) {
  .cover__title {
    font-size: 60px;
    line-height: 60px;
  }
}

@media (max-width: 430px) {
  .cover__title {
    font-size: 45px;
    line-height: 45px;
  }
}

@media (max-width: 320px) {
  .cover__title {
    padding: 0;
    font-size: 32px;
    line-height: 35px;
    padding-top: 33px;
  }
}
