.footer__list {
  display: inline;
  margin: 0;
}

@media (max-width: 715px) {
  .footer__list {
    display: block;
    margin-top: 32px;
  }
  .footer__list:first-child {
    display: block;
    margin-top: 0;
  }
  .footer__list:last-child {
    display: block;
    margin-bottom: 48px;
  }
}
