.footer {
  margin: 0 auto;
  display: flex;
  max-width: 1184px;
  max-height: 18px;
  justify-content: space-between;
  margin-top: 92px;
  padding-bottom: 24px;
}

@media (max-width: 768px) {
  .footer {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media (max-width: 715px) {
  .footer {
    max-width: 100%;
    flex-direction: column;
    max-height: 100%;
    margin-top: 64px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
